@media (max-width:1200px){
    .companies{
        &__wrapper{
            column-gap:94px;
        }
    }
}

@media (max-width:992px){
    .companies{
        &__wrapper{
            grid-template-columns: repeat(3,auto);
        }
    }
}

@media (max-width:768px){
    .companies{
        &__wrapper{
            grid-template-columns: repeat(2,auto);
        }
    }
}

@media (max-width:576px){
    .companies{
        &__wrapper{
            grid-template-columns: auto;
        }

        &__logo{
            img{
                width: 100px;
            }
        }
    }
}