@media (max-width:992px) {
    .btn-shadow{
        width: 140px;
        height: 43px;
        font-size: 14px;
    }
}

@media (max-width:576px) {
    .btn-shadow{
        width: 135px;
        height: 38px;
        font-size: 13px;
    }
}